<?xml version="1.0" encoding="utf-8"?>
<!-- This configuration file is used to control settings used by the Vault/Fortress -->
<!-- Dreamweaver IDE client.  This file should be located in the same directory as the -->
<!-- Vault/Fortress MSSCCI files.  The location can be verified by looking up -->
<!-- HKLM\SOFTWARE\SourceGear\Vault (or Fortress) Client\SCCServerPath less the string "VaultIDE.dll"-->
<configuration>

	<!-- DO NOT CHANGE -->
	<dotnetframework>1.1.4322</dotnetframework>

	<dwreg>
		<name>Dreamweaver MX 2004</name>
		<usersitehive>Software\Macromedia\Common\2004\Sites</usersitehive>
		<installhive>SOFTWARE\Macromedia\Dreamweaver\2004\Installation</installhive>
		<installpathvalue>InstallPath</installpathvalue>
	</dwreg>
	<dwreg>
		<name>Dreamweaver 8</name>
		<usersitehive>Software\Macromedia\Common\8\Sites</usersitehive>
		<installhive>SOFTWARE\Macromedia\Dreamweaver\8\Installation</installhive>
		<installpathvalue>InstallPath</installpathvalue>
	</dwreg>
	<dwreg>
		<name>Dreamweaver CS3</name>
		<usersitehive>Software\Adobe\Common\9\Sites</usersitehive>
		<installhive>SOFTWARE\Adobe\Dreamweaver\9.0\Installation</installhive>
		<installpathvalue>InstallPath</installpathvalue>
	</dwreg>

</configuration>