<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RevisionStartDate" value="2005-10-08"/>
		<add key="RevisionEndDate" value="2016-01-26"/>
		<add key="Vault.Server" value=""/>
    <add key="Vault.UseSSL" value="true"/>
    <add key="Vault.User" value=""/>
		<add key="Vault.Password" value=""/>
		<add key="Vault.Repo" value="3rdLearning"/>
		<add key="Git.DomainName" value=""/>
		<add key="Convertor.WorkingFolder" value="d:\code\git\SAS1\"/>
		<add key="MappingSaveLocation" value="d:\code\git\vault2git.2016-10-08_2016-10-10.xml"/>
		<add key="Convertor.GitCmd" value="C:\Program Files\Git\bin\git.exe"/>
		<add key="Convertor.Paths" value="$/Path/prjoect~master"/>
    <add key="AuthorMap" value="d:\code\git\authors.xml"/>
    <!--<add key="numUploadThreads" value="4"/>-->
	</appSettings></configuration>

