<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    
    <!-- Earliest date that Vault commits should be converted -->
		<add key="RevisionStartDate" value="2005-01-01"/>
    
    <!-- Latest date that Vault commits hould be converted -->
		<add key="RevisionEndDate" value="2021-01-01"/>
		
    <!-- IP address or host name of the Vault server -->
    <add key="Vault.Server" value="vault.pls3rdlearning.com"/>
		
    <!-- Should the connection to Vault use SSL? Possible values are true and false.-->
    <add key="Vault.UseSSL" value="true"/>
		
    <!-- The username of the credentials used to login to Vault -->
    <add key="Vault.User" value="rdaunce"/>
		
    <!-- The password or the credentials used to login to Vault -->
		<add key="Vault.Password" value="6hESW?crAj"/>
		
    <!-- The repository name to connect to -->
		<add key="Vault.Repo" value="3rdLearning"/>
		
    <!-- The Git domain name - This is a legacy value that isn't used and should be removed -->
		<add key="Git.DomainName" value="pls3rdlearning.com"/>
		
    <!-- The filesytem path that should be used as the working folder to construct the Git repository -->
    <add key="Convertor.WorkingFolder" value="d:\code\git\ConvertedFromVault\WindowsApplications\QTICreator_4.5"/>
		
    <!-- The path to the mapping file the program creates or loads/updates.  The file is used to map Vault branch and commit numbers to Git SHA hashes -->
    <add key="MappingSaveLocation" value="d:\code\git\ConvertedFromVault\vault2git.QTICreator_4.5.xml"/>
		
    <!-- The path to the Git executable the program should use -->
    <add key="Convertor.GitCmd" value="C:\Program Files\Git\bin\git.exe"/>
		
    <!-- The Vault path(s) to branches that should be converted.  Multiple branches are delimited by a ; (semicolon)
         Each path is specified by a Vault location and a branch name, delimited by a ~ (tilde)
         
         Example - value="$/path/to/vault/folder/~branchname
         
         A * (asterisk) can be used as the branch name to specify each folder under the vault path should be treated as an individual branch.
         
         Example - value="$/path/to/vault/folder/~*
    -->
    <add key="Convertor.Paths" value="$/WindowsApplications/QTICreator_4.5~master;"/>
		
    <!-- The path to and XML Mapping file used to map Vault users to Git user and override branch names -->
    <add key="CustomMapPath" value="d:\code\git\ConvertedFromVault\mapfile.QTICreator_4.5.xml"/>
	
	<add key="GitCommitMessageTempFile" value="d:\code\git\ConvertedFromVault\CommitMessage.tmp"/>
  
	</appSettings>
</configuration>