<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RevisionStartDate" value="2016-10-01"/>
		<add key="RevisionEndDate" value="2016-10-10"/>
		<add key="Vault.Server" value="sg1469z.corproot.net"/>
		<add key="Vault.User" value="Gautier Boder"/>
		<add key="Vault.Password" value="eCommerce"/>
		<add key="Vault.Repo" value="OCI"/>
		<add key="Git.DomainName" value="swisscom.com"/>
		<add key="Convertor.WorkingFolder" value="Z:\Sources\Local\Swisscom.Head.2016-10-08_2016-10-10"/>
		<add key="MappingSaveLocation" value="Z:\Sources\local\vault2git.Swisscom.Head.2016-10-08_2016-10-10.xml"/>
		<add key="Convertor.GitCmd" value="C:\Program Files\Git\bin\git.exe"/>
		<add key="Convertor.Paths" value="$/HEAD~master"/>
		<!--<add key="numUploadThreads" value="4"/>-->
	</appSettings></configuration>

