<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="sg1469z.corproot.net"/>
    <add key="Vault.User" value="Gautier Boder"/>
    <add key="Vault.Password" value="eCommerce"/>
    <add key="Vault.Repo" value="OCI"/>
    <add key="Git.DomainName" value="mycompany.com"/>
    <add key="Convertor.WorkingFolder" value="Z:\Sources\local\Swisscom.Head"/>
    <add key="Convertor.GitCmd" value="C:\Program Files\Git\bin\git.exe"/>
    <add key="Convertor.Paths" value="$/HEAD~master"/>
		<add key="numUploadThreads" value="4"/>
	</appSettings></configuration>
